@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

/* Header height offset (adjust if needed) */
section {
  scroll-margin-top: 100px; /* equal or slightly larger than your header height */
}
